<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Skills-HTML-CSS</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <!-- your html goes here -->

        <!-- Heading/Welcoming -->
        <section id="intro-border">
        <h1>Ubermelon Careers</h1>
        <p>Can't resist our delicious melons? Come work for us! We only hire the best and we have many perks in addition to payment in melons! At Ubermelon, you'll also find team leads who will challenge and respect you. Please fill our the following so we can help you find your dream position.</p>
        </section>

        <!--Their first and last name (as separate fields),-->

        <form method="POST" action="/application">
        <section>
            First Name: <input name="first-name" class="yellow" placeholder="Enter Here">
            <span id="last-name">Last Name: <span><input name="last-name" class="yellow" placeholder="Enter Here">
        </section>
        
        <!-- Their salary requirement as a number. -->
        <section>
            What is your salary requirement?
            <input name="salary" class="yellow" placeholder="Enter a whole number">
        </section>
        
        <!--Which job they are applying for, from a list of: -->
        <section>   
            <select name="position">
                To which position are you applying?
                <option value="software engineer">Software Engineer</option>
                <option value="QA engineer">QA Engineer</option>
                <option value="product manager">Product Manager</option>
            </select>
        </section>
        
        <section>
            Click the watermelon to submit!
            <input type="image" src="http://www.how-to-draw-cartoons-online.com/image-files/cartoon-watermelon-6.gif" alt="Submit" id="submit-button">
            <!-- input type="submit" value="Submit" class="yellow" id="button"> -->
        </section>
        </form>
    </body>
</html>