<!doctype html>
<html>
<head>
    <title>Ubermelon Jobs</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Work for Ubermelon</h1>
  
    <p>Ubermelon is always looking for young, talented, hard-working people. If you are passionate about melons and love making money, we'd like to hear from you. Click here, for more information about our open posistions:</p>

        <form method="GET" action="/application-form">
            <input type="submit" value="Submit" class="yellow" id="button">
        </form>
</body>
</html>