<!doctype html>
<html>
    <head>
        <title>Thanks you</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
<body>
    <div>
        </p id="message"> Hi {{ first }} {{ last }}! Thanks for applying to be a {{ position }} and letting us know that you would like to make ${{ salary }}. We'll get in touch with you as soon as we can.</p>
    </div>
    <div>
        <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcSAC1qPkD-tXG_obieGJ9HP--2dBXjR_-GcADjzkc24OreSzgKYiA" id="shark">
    </div>
</body>
</html>